# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.env/
.venv/
env/
venv/
.env
__pycache__/
# Environment files
.env

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
